/*****Customizações****/

.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.page-header {
	margin: 2px 0px 10px 0px;
	padding-bottom: 5px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 12px 0;
	word-wrap: break-word;
}
h1 {
	font-size: 26px;
	line-height: 28px;
}
h2 {
	font-size: 22px;
	line-height: 24px;
}
h3 {
	font-size: 18px;
	line-height: 20px;
}
h4 {
	font-size: 14px;
	line-height: 16px;
}
h5 {
	font-size: 13px;
	line-height: 15px;
}
h6 {
	font-size: 12px;
	line-height: 14px;
}
.clearfix {
	*zoom: 1;
}
.clearfix:before,
.clearfix:after {
	display: table;
	content: "";
	line-height: 0;
}
.clearfix:after {
	clear: both;
}
.item-title {
	margin-bottom: 9px;
}
.item-content {
	margin: 18px 0;
}
.item-subtitle {
	margin-bottom: 9px;
}
.pull-right.item-image {
	margin: 0 0 18px 20px;
}
.pull-left.item-image {
	margin: 0 20px 18px 0;
}
.header .nav > li:last-child > .dropdown-menu,
.item-actions .dropdown-menu,
.item-comment .dropdown-menu {
	left: initial;
	right: 0;
}
.article-index {
	margin: 0 0 10px 10px;
}
.list-item-title {
	margin-bottom: 9px;
}
.list-item-content {
	margin: 18px 0;
}
.list-item-subtitle {
	margin-bottom: 9px;
}
.items-more,
.content-links {
	padding: 15px 0;
}


/* Uso de fonte local */
@font-face {
	font-family: 'Arima Koshi';
	src: url('ArimaKoshi-Bold.otf');
	src: local('ArimaKoshi-Bold'), url('ArimaKoshi-Bold.otf') format('truetype');
}

body{
    background-color:#d6e7f9;
    color: #011538;
    font-size:14px;
    background-image: url('./bg.png');
    padding:10px;
}

#topo{
    font-family: 'Arima Koshi';
    background-color:#004597;
    color:#fff;
    padding: 5px;
    margin:0px 0px 10px 0px;
}

#menu{
    font-family: 'Arima Koshi';
    background-color:#0049A0;
    color:#fff;
    padding: 15px;
    margin:10px 0px 0px 0px;
}

#content{
    background-color:#053e7f;
    color: #fff;
}

.mostread,
.weblinks,
.category-module,
.syndicate-module,
.moduletable,
#content{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background:#0049A0;
    color:#fff;
	padding:20px;
	margin:0px 0px 10px 0px;
    font-size:13px;
}

.moduletablepop {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background:#0049A0;
    color:#fff;
	padding:20px;
	margin:0px 0px 10px 0px;
    font-size:13px;
}

#login-form {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background:#0049A0;
    color:#fff;
	border:1px solid #ccc;
	padding:20px;
	margin:0px 0px 10px 0px;
    font-size:12px;
}

.search input{
    color:#01132d;
}

.moduletable a,.moduletablepop a,#login-form a, #menu a, #topo a, #content a{
    color:#a0c9f7;
}

a.active{
    color:red;
}

.navigation .nav-child a{
    background-color:#021533;
}

.moduletable a:hover,.moduletablepop a:hover,#login-form a:hover, #menu a:hover, #topo a:hover, #content a:hover{
    color: yellow;
}
.footer1{
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-khtml-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	background:#0049A0;
    color:#fff;
    padding-top: 1%;
    padding-left: 5%;
    font-family: 'Arima Koshi';
}
.footer2{
	background:#0049A0;
    color:#fff;
    padding-top: 0px;
    padding-bottom: 1%;
    padding-left: 5%;
    font-family: 'Arima Koshi';
}

#jc h4, p span label{
    color:#fff;
}

